html,
body {
  height: 100%;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: Arial, Helvetica, sans-serif;
}

.task-container {
  margin: 2% 0%;
  display: flex;
  justify-content: center;
  width: 100%;
  height: 57%;
}

#root {
  width: 40%;
  height: 70%;
  border-radius: 15px;
}

#root:hover {
  box-shadow: 0 0 10px 4px rgba(128, 128, 134, 0.6);
  transition: box-shadow 0.5s ease-in-out;
}

h2 {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 2%;
  height: 15%;
  color: #333;
  padding-bottom: 2%;
}

form {
  border-radius: 40px;
  background-color: #edeef0;
  width: 85%;
  display: flex;
}

.container {
  background-color: #ffffff;
  border-radius: 8px;
  padding: 20px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  width: 100%;
  max-width: 500px;
}

label {
  display: block;
  font-size: 1.1rem;
  color: #555;
  margin-bottom: 8px;
}

.action-button {
  border: none;
  outline: none;
  color: white;
  background-color: #e94e77;
  cursor: pointer;
  width: 20%;
  font-size: large;
  border-radius: 40px;
}

.error-tag {
  font-size: medium;
  height: 100%;
  text-align: center;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.task-container ul::-webkit-scrollbar {
  width: 12px;
  height: 12px;
}

.task-container ul::-webkit-scrollbar-track {
  background: #f1f1f1;
  border-radius: 5px;
}

.task-container ul::-webkit-scrollbar-thumb {
  background: #e94e77;
  border-radius: 10px;
}

ul {
  width: 75%;
  height: 90%;
  overflow: auto;
  list-style-type: none;
  margin-top: 20px;
}

input {
  background-color: transparent;
  width: 75%;
  padding: 10px;
  font-size: large;
  border: 1px solid #ddd;
  border-radius: 16px;
  transition: border-color 0.3s;
  text-indent: 4%;
}

input {
  flex: 1;
  outline: none;
  border: none;
}

input:focus {
  border-color: #4a90e2;
  outline: none;
}

.input-Container {
  padding: 0% 5% 0% 5%;
  height: 8%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.button-holder {
  padding: 0% 10% 0 10%;
  display: flex;
  justify-content: center;
  width: 100%;
  height: 7%;
  gap: 2%;
}

.error-msg {
  height: 5%;
}

.button-action,
.button-action:disabled {
  border: none;
  background: none;
  font-size: large;
  cursor: pointer;
  width: 30%;
}

.button-action:disabled {
  cursor: not-allowed;
}

li {
  height: 17%;
  width: 95%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f9f9f9;
  margin-top: 10px;
  border-radius: 10px;
  transition: background-color 0.3s;
}

ul li:first-child {
  margin-top: 0;
}

li:hover {
  background-color: #f1f1f1;
}

.todo-button {
  display: flex;
  width: 27%;
  gap: 10%;
}

img {
  height: 100%;
  width: 42%;
}

.content-holder {
  padding-top: 5%;
  width: 100%;
  height: 55%;
  mix-blend-mode: multiply;
  margin: auto;
  border-radius: 5%;
  display: flex;
  align-items: center;
  justify-content: center;
}

button:disabled {
  background-color: #ccc;
  cursor: not-allowed;
}

.category-Button {
  width: 30%;
  color: #201250;
  font-size: large;
  flex: 1;
  cursor: pointer;
  position: relative;
  background: transparent;
  border: none;
}

p {
  font-size: large;
}

.button-holder .category-Button.active {
  color: #e94e77;
}

.button-holder .category-Button.active::after {
  width: 100%;
}

.button-holder .category-Button::after {
  width: 10%;
  content: "";
  position: absolute;
  width: 0;
  height: 4px;
  background-color: #e94e77;
  bottom: -5px;
  left: 53%;
  transform: translateX(-50%);
  transition: all 0.3s ease-in-out;
}

#category-Button-clear {
  color: #e94e77;
}

@media (min-width: 1000px) and (max-width: 1200px) {
  #root {
    width: 75% !important;
  }

  .modal-content {
    padding: 20px;
    width: 37%;
  }

  p {
    font-size: large;
  }
}

@media (min-width: 1200px) and (max-width: 1350px) {
  #root {
    width: 65% !important;
  }

  .modal-content {
    padding: 20px;
    width: 37%;
  }

  p {
    font-size: large;
  }
}

@media (min-width: 700px) and (max-width: 999px) {
  #root {
    width: 80% !important;
  }

  p {
    font-size: large;
  }

  .button-holder {
    padding: 0% 7% 0 7%;
  }

  .input-Container {
    padding: 0% 2% 0% 2%;
  }

  .modal-content {
    height: 23%;
    width: 50%;
  }
}

@media (min-width: 540px) and (max-width: 999px) {
  #root:hover {
    box-shadow: none;
    transition: none;
  }

  #root {
    width: 90% !important;
  }

  p {
    font-size: large;
  }

  .button-holder {
    padding: 0%;
  }

  .input-Container {
    padding: 0% 2% 0% 2%;
  }

  .modal-content {
    height: 23%;
    width: 50%;
  }
}

@media (min-width: 300px) and (max-width: 539px) {
  .todo-button {

    width: 42%;

}
  h2 {
    height: 8%;
  }

  .error-tag {
    font-size: medium;
  }

  #root:hover {
    box-shadow: none;
    transition: none;
  }

  li {
    height: 17%;
  }

  .task-container {
    margin: 2% 0%;
    display: flex;
    justify-content: center;
    width: 100%;
    height: 53%;
  }

  .task-name {
    width: 58% !important;
  }

  ul {
    width: 90%;
    height: 90%;
    overflow: auto;
    list-style-type: none;
    margin-top: 20px;
  }

  .button-holder {
    flex-direction: column;
  }

  #root {
    width: 95% !important;
  }

  .button-holder {
    width: 100%;
    height: 25%;
  }

  .category-Button {
    height: 20%;
    width: 97%;
    padding-top: 5%;
  }

  .modal-content {
    width: 85%;
  }

  p {
    font-size: large;
  }

  .button-holder {
    padding: 0% 15% 0 15%;
  }

  .input-Container {
    padding: 0% 2% 0% 2%;
  }

  .modal-content {
    height: 23%;
    width: 50%;
  }
}

.task-name {
  padding: 0 3%;
  height: 100%;
  width: 70%;
  color: #000000;
  text-align: justify;
  display: flex;
  align-items: center;
}